<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ experiment_name }} Details</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='experiments.css') }}">
</head>
<body>
    <h1>{{ experiment_name }} Experiment Details</h1>

    <!-- Abstract Section -->
    <section style="border: 1px solid #ccc; padding: 10px; margin: 20px 0;">
    <h2>Transcriptional profiling of right extensor digitorum longus muscle from mice flown on the RR-23 mission</h2>
    <div>{{ abstract|safe }}</div>
    <button onclick="readAbstract()">Read Abstract Aloud</button>

    </section>

    <!-- Dash Visualization embedded as an iframe -->
    <div id="dash-visualization">
        <iframe src="/dash/{{ experiment_name }}" width="100%" height="600px" frameborder="0"></iframe>
    </div>

    <script>
        function readAbstract() {
            // Clear any ongoing or queued speech
            window.speechSynthesis.cancel();
    
            const abstractText = document.getElementById("abstract-text").innerText;
    
            // Split the abstract text into sentences
            const sentences = abstractText.match(/[^\.!\?]+[\.!\?]+/g);
            
            if (sentences && sentences.length > 0) {
                let index = 0;
    
                function speakNextSentence() {
                    if (index < sentences.length) {
                        const speech = new SpeechSynthesisUtterance(sentences[index]);
                        speech.onend = function() {
                            index++;
                            speakNextSentence();
                        };
                        window.speechSynthesis.speak(speech);
                    }
                }
    
                // Start reading the first sentence
                speakNextSentence();
            } else {
                const speech = new SpeechSynthesisUtterance(abstractText);
                window.speechSynthesis.speak(speech);
            }
        }
    </script>
  
    <!-- Related Papers Section -->
    <section id="related-papers">
        <h2>Related Papers</h2>
        <div class="papers-grid">
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7853945/" target="_blank">Isolation and Transcriptomic Profiling of Single Myofibers from Mice
            </a>
            <a href="https://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-022-08873-2" target="_blank">Transcriptomic profiles of muscular dystrophy with myositis (mdm) in extensor digitorum longus</a>
        </div>
    </section>

    <a href="{{ url_for('landing_page') }}">Back to Landing Page</a>
</body>
</html>
